:root {
  --dark-grey: #373d5e;
}

*, body {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 20px;
}

.pattern {
  --alpha: 0.1;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,var(--alpha)) 21%, rgba(255,255,255,var(--alpha)) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,var(--alpha)) 21%, rgba(255,255,255,var(--alpha)) 34%, transparent 35%, transparent) 0 -50px;
background-color: var(--dark-grey);
background-size: 75px 100px;
}

textarea {
  font-size: 1rem;
  padding: 10px;
  border: 0;
  width: calc(100% - 20px)
}

select {
  width: 100%;
}

select, button {
  font-size: 1rem;
  padding: 5px 10px;
  border: 0;
}

button {
  cursor: pointer;
  background-color: var(--dark-grey);
  color: #fff;
  font-weight: 600;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #000;
  transition: all 0.2s ease;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #e4e6f0;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 15px 15px -10px #373d5e;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.75rem;
  margin: 0 0 20px 0;
  font-weight: 700;
}

#audioPlayer {
  display: none;
}

form > * {
  margin-bottom: 20px;
}

.m-tb-20 {
  margin: 20px 0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}